body {
    display: flex;
    justify-content: center;
}

.strawberries-container {
    background-color: #eab3b3;
    border: solid #cf6969 2px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px;
    padding: 10px;
}

.bananas-container {
    background-color: #faf0b3;
    border: solid #e5ce3b 2px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px;
    padding: 10px;
}

.apples-container {
    background-color: #cee3c0;
    border: solid #82d754 2px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px;
    padding: 10px;
}

.kiwis-container {
    background-color: #718c6a;
    border: solid #29511b 2px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px;
    padding: 10px;
}

#min-button, #plus-button {
    height: 25px;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.form-container {
    background-color: #a1cbe5;
    border: solid #69acd6 2px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    margin-top: 50px;
    width: 400px;
}

.persoonsgegevens{
    display: flex;
    flex-direction: column;
}

.delivery{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#submit-button {
    width: 70px;
    margin-top: 20px;
    align-self: center;
}